.card {
  width: 100%;
  /* background-color: rgb(245, 143, 48); */
  box-shadow: 0 0 5px #eee;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  /* border-radius: 0.5em; */
}

/* .card__img {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.bg-blur {
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(2px);
} */

.card__thumbnail {
  width: 100%;
  aspect-ratio: 1 / 1;
  /* filter: brightness(0); */
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.card__info__name {
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #444;
  font-size: 1em;
}

.card__info__date {
  display: flex;
  gap: 5px;
}

.card__info__date svg {
  color: #444;
}

.card__info__date span {
  font-size: 0.8em;
  color: #969696;
}

.card__info__date.--pending svg,
.card__info__date.--pending span {
  color: #f3cd23;
}

.card__info__site {
  font-size: 0.8em;
  text-transform: capitalize;
}

.card__info__link {
  color: #fff;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  /* border-radius: 0.5em; */
  font-size: 0.8em;
  display: flex;
  gap: 5px;
}

.card__info__link svg {
  font-size: 1.5em;
}
