.home {
  background-color: var(--light);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.home__welcome-section {
  /* background-color: #003f6309; */
  /* border-top: 3px solid var(--accent); */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
  margin-top: 20px;
  width: calc(100% - 20px);
  align-items: center;
}

.home__welcome-section__title {
  /* color: #fff; */
  color: #747474;
  font-weight: 100;
  font-size: 1.3em;
}

.home__welcome-section__slogan {
  /* color: #f8f8f8; */
  color: #747474;
  font-size: 0.9em;
}

.home__welcome-section__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.home__welcome-section__list__item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.home__welcome-section__list__item svg {
  color: var(--accent-2);
}

.home__welcome-section__list__item span {
  font-size: 0.8em;
  color: var(--accent);
}

.home__welcome-section__links {
  display: flex;
  gap: 10px;
}

.home__welcome-section__links__button {
  padding: 10px;
  background-color: #fafafa;
  border: none;
  cursor: pointer;
  width: 150px;
  color: var(--accent-2);
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 20px;
  flex-grow: 1;
}

.home__cards__empty-query {
  min-height: 100px;
  display: flex;
  align-items: center;
  color: #747474;
  font-style: italic;
  font-size: 0.8em;
}

.home__pages {
  padding: 20px;
  display: flex;
  /* gap: 5px; */
  align-items: center;
  justify-content: center;
}

.home__pages form {
  display: flex;
}

.home__pages input {
  border: none;
  outline: none;
  height: 30px;
  padding: 5px;
  background-color: #f8f8f8;
  font-size: 1em;
  text-align: center;
  width: 80px;
  border-radius: 0;
}

.home__pages div {
  height: 30px;
  width: 1px;
  background-color: #747474;
}

.home__pages span {
  border: none;
  outline: none;
  height: 30px;
  padding: 5px;
  /* background-color: #f8f8f8; */
  font-size: 1em;
  text-align: center;
  width: 80px;
  border-radius: 0;
  color: var(--accent);
}

.home__pages__page-btn-arrow {
  border: none;
  background-color: var(--accent);
  height: 30px;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  width: 30px;
}

.home__pages__page-btn-arrow:disabled {
  opacity: 0;
}
